<h1>Hello</h1>
<div>
  User name: <%= current_user.name %>
</div>
<div>
  User email: <%= current_user.email %>
</div>
<div>
  Number of logins: <%= current_user.sign_in_count %>
</div>
<div>
  Last login: <%= current_user.last_sign_in_at %>
</div>
<div>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
</div>
<div>
  <%= link_to('Edit my account', edit_user_registration_path) %>
</div>
